<section class="section">
  <form class="censor">
      <p>
          <span class="censor__bad">Bad words: </span>
          <span class="censor__list">{{ showBadList() }}</span>
      </p>
      <div class="censor__row">
          <input type="text" class="input input-set" [class.wrong]="isEmpty1" [attr.placeholder]="placeholderInput"
              autocomplete="off" [(ngModel)]="setBadWord" name="setBadWord">
          <button type="button" class="btn btn-yellow" (click)="addToBadList()">
              Add
          </button>
          <button type="button" class="btn btn-red" (click)="resetBadList()">
              Reset
          </button>
      </div>
      <textarea class="input input-area" [class.wrong]="isEmpty2" [attr.placeholder]="placeholderArea"
          [(ngModel)]="textField" name="textField"></textarea>
      <button type="button" class="btn btn-green" (click)="checkTextField()">
          Censor
      </button>
  </form>
</section>
