<section class="portfolio">
  <div class="card">
      <div class="card__main">
          <img class="card__img" src="url'../../../../../assets/images/1.png" alt="My work 1">
          <h2 class="card__h2">Angular list of prohibited words</h2>
      </div>
      <div class="card__footer">
          <button class="btn btn_green btn_card" [routerLink]="[ '/works/censor' ]">
              details
          </button>
      </div>
  </div>
  <div class="card">
      <div class="card__main">
          <img class="card__img" src="url'../../../../../assets/images/2.png" alt="My work 2">
          <h2 class="card__h2">Angular users list</h2>
      </div>
      <div class="card__footer">
          <button class="btn btn_green btn_card" [routerLink]="[ '/works/userslist' ]">
              details
          </button>
      </div>
  </div>
  <div class="card">
      <div class="card__main">
          <img class="card__img" src="url'../../../../../assets/images/3.png" alt="My work 3">
          <h2 class="card__h2">Angular task list</h2>
      </div>
      <div class="card__footer">
          <button class="btn btn_green btn_card" [routerLink]="[ '/works/tasklist' ]">
              details
          </button>
      </div>
  </div>
</section>
