$background_milk: #F6F6F6;
$table_hover: #DEDEDE;
$border_gray: #dee2e6;
$border_blue: #8ABDEB;

$text_dark: #343a40;
$text_light: #ffffff;
$text_placeholder: #777777;
$text_input: #494949;

$blue: #007bff;
$blue_hover: #0069d9;
$green: #28a745;
$green_hover: #218838;
$yellow: #ffc107;
$yellow_hover: #e0a800;
$red: #dc3545;
$red_hover: #c82333;
$red_disabled: #D67B83;
$cyan: #17a2b8;
$cyan_hover: #138496;

$blue_focus: rgba(38, 143, 255, 0.3);
$green_focus: rgba(72, 180, 97, 0.5);
$yellow_focus: rgba(222, 170, 12, 0.5);
$red_focus: rgba(225, 83, 97, 0.5);
$cyan_focus: rgba(58, 176, 195, 0.5);

$heigth_header: 70px;
$font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
